.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > a {
  height: 2vmax;
  width: 2vmax;
  margin: 1vmax 4vmax;
}

.header > a > svg {
  font-size: 2vmax;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.455);
}

.header > a > svg:hover {
  transform: scale(1.2);
  color: black;
}

@media screen and (max-width: 600px) {
  .header > a {
    height: 8vw;
    width: 8vw;
    margin: 1vw 8vw;
  }

  .header > a > svg {
    font-size: 8vw;
  }
}
