.resetPassword {
  height: 100vh;
  background-image: linear-gradient(to right, #fff5bc, #cec1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  width: 100%;
}

.ResetPasswordForm {
  height: 70%;
  width: 40%;
  background-color: white;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResetPasswordForm > input {
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 0.5vmax;
  outline: none;
  font: 100 1.2rem "Roboto", sans-serif;
}

a {
  font: 400 1rem "Roboto", sans-serif;
  color: #807f7f;
  /* margin-bottom: 1rem; */
}
